$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: 'NeoSans';
  src: url('../fonts/neosansstd-regular-webfont.eot');
  src: url('../fonts/neosansstd-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/neosansstd-regular-webfont.woff') format('woff'), url('../fonts/neosansstd-regular-webfont.ttf') format('truetype'), url('../fonts/neosansstd-regular-webfont.svg#NeoSansStdRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeoSans';
  src: url('../fonts/neosansstd-medium-webfont.eot');
  src: url('../fonts/neosansstd-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/neosansstd-medium-webfont.woff') format('woff'), url('../fonts/neosansstd-medium-webfont.ttf') format('truetype'), url('../fonts/neosansstd-medium-webfont.svg#NeoSansStdMedium') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NeoSans';
  src: url('../fonts/neosansstd-light-webfont.eot');
  src: url('../fonts/neosanspro-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/neosanspro-light-webfont.woff') format('woff'), url('../fonts/neosanspro-light-webfont.ttf') format('truetype'), url('../fonts/neosanspro-light-webfont.svg#NeoSansStdLight') format('svg');
  font-weight: 100;
  font-style: normal;
}

// Basic setting
@mixin bold {font-weight: 600;}
@mixin normal {font-weight: normal;}
@mixin neo {font-family: 'NeoSans', sans-serif;}
@mixin light {font-weight: 100;}
@mixin light-2 {font-weight: 200;}

// Color variables
$white: #fff;
$black: #000;
$ccc: #ccc;

// Basic
$primary: #d3ab44;
$secondary: #32a8ce;
$header: #363636;
$oil: #333;
$smoke: #eee;
$filter: #d05050;
$jet: #363636;
$column: #f2f2f2;
$bg_lodge: #FCFCFC;
$border: #d8d8d8;

// Alerts
$good: #3BA656;
$bad: #D05050;
$alert: #f2d84b;
$red: $bad;

/* Base reset of bootstrap */
body, h1, h2, h3, h4, h5, h5 {
    @include bold;
    @include neo;
}

body {
  @include normal;
  position: relative;
  padding-top: 70px;
}

.btn-gold {
  margin-top: 1em;
  color: white;
  margin-right: 20px;
  font-size: 1em;
  border-radius: 15px;
  line-height: 1.5em;
  text-shadow: 0 2px 2px darken($primary, 5%);
  background-color: $primary;
  border-bottom: 4px solid darken($primary, 15%);
  &:hover {
    color: $white;
    text-shadow: 0 2px 2px darken($primary, 10%);
    background-color: darken($primary, 5%);
    border-bottom: 4px solid darken($primary, 20%);
  }
}

/* Toolbar of the sites from VTR */
.toolbar {
  background-color: black;
  height: 44px;
  margin-top: -70px;
  border-bottom: 1px solid rgba(white, 0.25);
  .container {
    background: url(../images/vtrlogochico.png) no-repeat right;
  }
  ul {
    margin-top: 12px;
    li {
      border-right: 1px solid rgba(white, 0.8);
      padding-right: 10px;
      // line-height: 16px;
      &:last-child {border-right: none;}
      a {
        color: rgba(white, 0.8);
        font-size: 12px;
        // line-height: 14px;
      }
    }
  }
}

/* Header */
.header {
  margin-top: 44px;
  height: 80px;
  background: rgba(black, 0.6);
  .logo-vtr {
    max-width: 70%;
    background-color: black;
    padding: 20px 10px;
    // img {width: 80%;}
  }
  .nav {
    margin-top: 20px;
    a {
      color: white;
      font-size: 1.2em;
      line-height: 1.3em;
      &:hover {
        // line-height: 1.2em;
        // font-weight: bold;
        color: $primary;
        background: transparent;
      }
      &:active {background: transparent;}
      &:focus {background: transparent;}
      &:visited {background: transparent;}
    }
  }
  li.active a{
    line-height: 1.1em;
    font-weight: bold;
    color: $primary;
    background: transparent;
    &:active {background: transparent;}
    &:hover {background: transparent;}
    &:focus {background: transparent;}
    &:visited {background: transparent;}
  }
}

.header.active {margin-top: 0;}

/* Landing premium */
#vtr {
  // background: url(../images/landing.jpg) no-repeat;
  // background-size: cover;
  background-color: #1d1d1a;
  .container {
    // padding-top: 15%;
    color: white;
    .glyphicon {
      @include light;
      font-size: 5em;
      text-shadow: 0 0 10px rgba(black, 0.25);
    }
    .logo-intro {
      margin: 0 auto 4em;
      width: 50%;
    }
    h1,h2 {
      margin: 0 1em 1em;
      color: #fed267;
      // text-shadow: 0 0 10px rgba(black, 0.5);
    }
    h1 {
      @include light;
      // display: none;
      font-size: 2em;
      line-height: 1;
    }
    h1:nth-child(1n+1) {
      display: none;
    }
    h2 {
      @include light;
      font-size: 1.5em;
      line-height: 1.6;
      margin-bottom: 2em;
    }
  }
  .second-lvl {
    margin: 5em 0 5em;
    h2 {
      margin-bottom: 0.35em;
    }
    p {
      @include light;
      font-size: 1.3em;
      margin: 0 1em 2em;
    }
    .row {
      margin-top: 5em;
      h1 {
        display: block;
        margin: 0;
      }
      h3 {
        @include normal;
        margin-left: 2.2em;
        margin-top: -1.8em;
      }
      p {
        margin: 0;
        margin-left: 2.7em;
      }
      .btn-gold {
        margin-left: 3.3em;
      }
      .second {
        color: $primary;
      }
    }
  }
}

/* Divisor of the boxes */
.divisor {
  background: black url(../images/divisor.jpg) no-repeat center;
  padding: 20px 0;
  h4, p {
    margin: 0;
    color: white;
    background: black;
    padding: 4px;
    &:last-child {margin-bottom: 0;}
  }
  span {
    border: 1px solid $primary;
    padding: 5px;
    border-radius: 50px;
  }
  .glyphicon {
    color: $primary;
    font-size: 1em;
  }
}

/* Channel box */
#fox {background-image: url(../images/channel01.jpg);}
#hbo {background-image: url(../images/channel02.jpg);}
#adulto {background-image: url(../images/channel03.jpg);}
#cdf {background-image: url(../images/channel04.jpg);}
#foxsports {background-image: url(../images/channel05.jpg);}

.channelBox {
  background-repeat:  no-repeat ;
  background-size: cover;
  .overlay {
    padding: 8em 0 6em;
    background: -webkit-linear-gradient(left, rgba(black, 0.25), rgba(black, .75));
  }
  .img-responsive {
    margin-bottom: 3em;
  }
  p {
    // @include light;
    color: white;
    font-size: 1.2em;
    margin-bottom: 1em;
    text-shadow: 0 0 5px rgba(black, 0.5);
    span {color: $primary;}
  }
  .buy {
    margin-top: 3em;
    .btn-gold {
      margin-top: -5px;
      font-size: 1.2em;
      float: left;
    }
    p {
      float: left;
      line-height: 1;
    }
    span {font-size: 1.3em;}
    .legend {
      font-size: 0.7em;
      color: rgba($white, 0.5);
    }
  }
}

.last {
  background-color: black;
  padding: 3em 0;
  h2, h4 {
    color: white;
    margin-bottom: 1em;
  }
  h4 {@include light;}
}

/* Custom page footer */
#footer {
  padding: 2em;
  background: black url(../images/borderbot.png) repeat-x top;
  color: rgba(white, .5);
  // border-top: 1px solid rgba(white, .25);
  p {
    margin: 0;
    font-size: 12px;
    text-align: right;
    a {color: rgba(white, .5);}
    img {margin-bottom: 2px;}
  }
}

// Video
#modal-video {color: $primary;}

.modal-content {
 background-color: rgba($white, .80);
}

// hack for video in modal
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
     -moz-transition: -moz-transform 0.3s ease-out;
       -o-transition: -o-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {

}

@media (min-width: $screen-sm-min) {
   /* rules for tablet (768 > 992) */
   #vtr .container .logo-intro {width: 30%}
   #vtr .container h1 {
    font-size: 3em;
    margin: 0 2.5em 1em;
    #vtr .container .second-lvl .btn-gold {margin-bottom: 1em;}
    #vtr .second-lvl p {margin: 0 2em 2em;}
  }
}
@media (min-width: $screen-md-min) {
   /* rules for desktop (992 > 1200) */
   .header .nav a {font-size: 1.2em;}
   #vtr .container h1 {
    font-size: 3em;
    margin: 0 3em 1em;
  }
   #vtr .container h2 {font-size: 1.8em;}
   .channelBox p {font-size: 1.3em;}
   // .last {padding: 4em;}
   #vtr .container .logo-intro {width: 25%}
   #vtr .container .second-lvl .btn-gold {margin-bottom: 1em;}
   #vtr .second-lvl p {margin: 0 8em 2em;}
}
@media (min-width: $screen-lg-min) {
   /* rules for large (> 1200) */
   #vtr .container h1 {
    font-size: 3em;
    margin: 0 4em 1em;
  }
   #vtr .container h2 {font-size: 2.2em;}
   #vtr .container .glyphicon {font-size: 6em;}
   .channelBox p {font-size: 1.4em;}
   #vtr .container .logo-intro {width: 20%}
   #vtr .container .second-lvl .btn-gold {margin-bottom: 1em;}
   #vtr .second-lvl p {margin: 0 8em 2em;}
}
