$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: 'NeoSans';
  src: url('../fonts/neosansstd-regular-webfont.eot');
  src: url('../fonts/neosansstd-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/neosansstd-regular-webfont.woff') format('woff'), url('../fonts/neosansstd-regular-webfont.ttf') format('truetype'), url('../fonts/neosansstd-regular-webfont.svg#NeoSansStdRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeoSans';
  src: url('../fonts/neosansstd-medium-webfont.eot');
  src: url('../fonts/neosansstd-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/neosansstd-medium-webfont.woff') format('woff'), url('../fonts/neosansstd-medium-webfont.ttf') format('truetype'), url('../fonts/neosansstd-medium-webfont.svg#NeoSansStdMedium') format('svg');
  font-weight: bold;
  font-style: normal;
}

// Basic setting
@mixin bold {font-weight: 600;}
@mixin normal {font-weight: normal;}
@mixin neo {font-family: 'NeoSans', sans-serif;}
@mixin light {font-weight: 100;}
@mixin light-2 {font-weight: 200;}

// Color variables
$white: #fff;
$black: #000;
$ccc: #ccc;

// Basic
$primary: #a89056;
$secondary: #32a8ce;
$header: #363636;
$oil: #333;
$smoke: #eee;
$filter: #d05050;
$jet: #363636;
$column: #f2f2f2;
$bg_lodge: #FCFCFC;
$border: #d8d8d8;

// Alerts
$good: #3BA656;
$bad: #D05050;
$alert: #f2d84b;
$red: $bad;

/* Base reset of bootstrap */
body, h1, h2, h3, h4, h5, h5 {
    @include bold;
    @include neo;
}

body {
  @include normal;
  position: relative;
  padding-top: 70px;
}

/* Header */
.header {
  margin-top: 44px;
  height: 80px;
  background: rgba(black, 0.35);
  .logo-vtr {
    max-width: 70%;
    background-color: black;
    padding: 20px 10px;
    // img {width: 80%;}
  }
  .nav {
    margin-top: 20px;
    a {
      color: white;
      font-size: 1.2em;
      line-height: 1.3em;
      &:hover {
        line-height: 1.2em;
        font-weight: bold;
        background: transparent;
      }
    }
  }
}

.header.active {margin-top: 0;}

.toolbar {
  background-color: black;
  height: 44px;
  margin-top: -70px;
  ul {
    margin-top: 10px;
    li {
      border-right: 1px solid rgba(white, 0.8);
      padding-right: 10px;
      &:last-child {border-right: none;}
      a {
        color: rgba(white, 0.8);
        font-size: 12px;
      }
    }
  }
}

/* Landing premium */
#vtr {
  background: url(../images/landing.jpg) no-repeat;
  background-size: cover;
  .container {
    padding-top: 20%;
    color: white;
    .glyphicon {
      @include light;
      font-size: 6em;
      text-shadow: 0 0 10px rgba(black, 0.25);
    }
    h1,h2 {
      margin-bottom: 1em;
      text-shadow: 0 0 10px rgba(black, 0.5);
    }
    h1 {font-size: 4em;}
    h2 {
      @include light;
      line-height: 1.6;
    }
  }
}

/* Divisor of the boxes */
.divisor {
  background: black url(../images/divisor.jpg) no-repeat center;
  padding: 20px 0;
  h4, p {
    margin: 0;
    color: white;
    background: black;
    padding: 4px;
    &:last-child {margin-bottom: 0;}
  }
  span {
    border: 1px solid $primary;
    padding: 5px;
    border-radius: 50px;
  }
  .glyphicon {
    color: $primary;
    font-size: 1em;
  }
}

/* Channel box */
#fox {background-image: url(../images/channel01.jpg);}
#hbo {background-image: url(../images/channel02.jpg);}
#adulto {background-image: url(../images/channel03.jpg);}
#cdf {background-image: url(../images/channel04.jpg);}
#foxsports {background-image: url(../images/channel05.jpg);}

.channelBox {
  background-repeat:  no-repeat ;
  background-size: cover;
  .overlay {
    padding: 6em 0;
    background: -webkit-linear-gradient(left, rgba(black, 0.1), rgba(black, 0.5));
  }
  p {
    color: white;
    font-size: 1.5em;
    margin-bottom: 1em;
    text-shadow: 0 0 5px rgba(black, 0.5);
  }
  .btn-gold {
    color: white;
    margin-right: 20px;
    font-size: 1em;
    border-radius: 15px;
    line-height: 1.5em;
    text-shadow: 0 2px 2px darken($primary, 5%);
    background-color: $primary;
    border-bottom: 7px solid darken($primary, 15%);
    &:hover {
      text-shadow: 0 2px 2px darken($primary, 10%);
      background-color: darken($primary, 5%);
      border-bottom: 7px solid darken($primary, 20%);
    }
  }
}


/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {}

